ShatterpointReferences/bin/
ShatterpointReferences/.vs/
ShatterpointReferences/obj/
ShatterpointReference.Test/bin/
ShatterpointReference.Test/obj/
.vs/
Shatterpoint.Maui/bin/
Shatterpoint.Maui/obj/
Shatterpoint.Lib/obj/
Shatterpoint.Lib/bin/
*.keystore
