@using Shatterpoint.Lib.Services;
@using Shatterpoint.Maui.Components.Reusable;

@page "/about"

<div class="page-content">
    <h4>Struggle Pal</h4>
    <p>
        Struggle pal is a companion app designed to help you playing Shatterpoint, offering dynamic unit datasheets that adapt depending on the Strike Team they belong.<br />
        It also provide a basic Strike Team builder, but the main feature is the dynamic datasheets.<br />
    </p>
    <h4>Dynamic Datasheet</h4>
    <p>
        Dynamic Datasheets display all available abilities for a selected character.<br />
        The purpose of such card is to display only the relevant abilities, from all your unit in the strike team<br/>
        3 timing exists for such card:
        <ul>
            <li>When a character is activated, or selected to do something</li>
            <li>When a character is targeted by an attack</li>
            <li>When your opponent is doing something (ex: moving a character)</li>
        </ul>
    </p>
    <h4>Copyright</h4>
    <p>
        Struggle Pal is not produced, supported or affiliated with AMG.<br />
        The information presented in this app about shatterpoint, both literal and graphical is copyrighted by AMG.
        I do not own any picture, text, name or rule element that are displayed when running this application. Every images, names and rule elements are the property of their author, or AtomicMassGame (AMG), or LucasFilm (Ltd), or Disney, or all at once.
    </p>

</div>

@code {

}
