@using Shatterpoint.Lib.Services;
@using Shatterpoint.Maui.Components.Reusable;

@page "/about"

<div class="page-content">
    <div>
        <h4>Struggle Pal</h4>
        <p>
            Struggle Pal is a companion app designed to help you playing Star Wars Shatterpoint, offering custom unit card datasheets that adapt depending on the Strike Team they belong.<br />
            It also provide a basic Strike Team builder, but the main feature is the dynamic datasheets.<br />
        </p>
    </div>
    <div>
        <h4>Custom Cards</h4>
        <p>
            Custom Cards display all available abilities for a selected character.<br />
            The purpose of such card is to display only the relevant abilities, from all unit within the strike team.<br />
            It helps the player by aggregating together only the abilities that are usables at certain timing.<br />
            3 timing for such card exists:
            <ul>
                <li>When a character is activated, or selected to do something</li>
                <li>When a character is targeted by an attack</li>
                <li>When your opponent is doing something (ex: moving a character)</li>
            </ul>
        </p>
    </div>
    <div>
        <h4>Copyright</h4>
        <p>
            Struggle Pal is not produced, supported or affiliated with AMG.<br />
            The information presented in this app about shatterpoint, both literal and graphical is copyrighted by AMG.
            I do not own any picture, text, name or rule element that are displayed when running this application. Every images, names and rule elements are the property of their author, or AtomicMassGame (AMG), or LucasFilm (Ltd), or Disney, or all at once.
        </p>
        <p>Text me for any copyright issue.</p>
    </div>
    <div>
        <h4>Want to help ?</h4>
        <p>
            If you find:
            <ul>
                <li>A bug</li>
                <li>Wrong data in characters or abilities</li>
                <li>An error in aggregated data (ex: wrong/missing ability in a card)</li>
            </ul>
            Text me.
        </p>
    </div>
    <div>
        <h4>About me</h4>
        <p>I'm a developper, but not a mobile application expert. Also, this is my 1st app released to public</p>
    </div>
</div>

@code {

}
