.page-content {
    background-color: #121212;
    color: wheat;
    font-size: 0.8em;
    display: block;
    padding: 5px;
}

    .page-content > div h4 {
        font-weight: 700;
        color: orangered;
    }
