/* Selection table */

.unit-selection-panel {
    position: relative;
    height: calc(100vh - 100px - 47px); /* 100%  footer - navbar - */
    overflow-y: auto;
}

    .unit-selection-panel ul {
        padding: 0;
        list-style-type: none;
    }

        .unit-selection-panel ul li {
            border-bottom: 1px dotted grey;
            padding: 10px;
        }

            .unit-selection-panel ul li a {
                display: flex;
            }

                .unit-selection-panel ul li a div.unit-name {
                    padding-left: 10px;
                    padding-bottom: 2px;
                    font-weight: 700;
                    font-size: 1rem;
                }

                .unit-selection-panel ul li a div.unit-type {
                    padding-left: 10px;
                    padding-bottom: 2px;
                    font-weight: 400;
                    font-size: 0.9rem;
                }

                .unit-selection-panel ul li a div.unit-keywords {
                    padding-left: 10px;
                    font-weight: 300;
                    font-size: 0.8rem;
                }

.row-selected {
    background-color: #FFDE96;
    outline: none;
    color: inherit;
    text-decoration: none;
}

.row-not-selected {
    outline: none;
    color: inherit;
    text-decoration: none;
}


.footer {
    position: fixed;
    bottom: 0;
    width: -webkit-fill-available;
    height: 100px;
    background-color: #f0f0f0; /* Set your desired background color */
    align-content: center;
    display: flex;
    flex-direction: column;
}

/* Selected units */
.selected-unit-panel {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

.flex-auto {
    flex: auto;
}

.flex {
    display: flex;
}
