@using Shatterpoint.Lib.Extensions
@using Shatterpoint.Lib.Model
@using Shatterpoint.Lib.Services;
@using Shatterpoint.Lib.Units;
@using Shatterpoint.Maui.Components.Reusable;
@using System.Text;
@using Shatterpoint.Maui.Services

@page "/"
@page "/list"
@inject UnitDataBaseService UnitDataBaseService
@inject SelectedUnitsService SelectedUnitsService
@inject NavigationService NavigationService;
@inject DataAccessLayer DataAccessLayer;

<div class="page-content scrollable">
    <ul>
        @{
            int i = 0;
        }
        @foreach (var entity in Lists)
        {
            int buffer = i;
            <li @onclick="() => OpenCloseDetail(buffer)">
                <UnitArray ListEntity="entity" @key="entity" />
                <div class="list-detail-container @GetListDetailClass(buffer)">
                    <Input type="image" src="img/icons/list.png" @onclick="() => EditList(entity)" value="Edit" />
                    <div>TODO: WRITE SOME LIST DETAIL HERE</div>
                    <Input type="image" src="img/icons/lightsabers.png" @onclick="() => CustomCards(entity)" value="Custom Cards" />
                </div>
            </li>
            i++;
        }
    </ul>

    <div>
        <input class="button-style" type="button" value="Add new list" @onclick="AddNewList" />
    </div>
</div>


@code {
    /// <summary>
    /// index of opened list panel
    /// </summary>
    public int OpenedList { get; set; } = -1;

    public List<ListEntity> Lists { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        // Load all data
        Lists = await DataAccessLayer.LoadLists();

        await base.OnInitializedAsync();
    }

    public void ListDetail(ListEntity listEntity)
    {
        SelectedUnitsService.UnitSelectionArray = listEntity.ArrayUnit;
        SelectedUnitsService.FileIndex = listEntity.Index;
        NavigationService.NavigateFromTo("/list", "/build");
    }

    public void EditList(ListEntity listEntity)
    {
        SelectedUnitsService.UnitSelectionArray = listEntity.ArrayUnit;
        SelectedUnitsService.FileIndex = listEntity.Index;
        NavigationService.NavigateFromTo("/list", "/build");
    }

    public void CustomCards(ListEntity listEntity)
    {
        SelectedUnitsService.UnitSelectionArray = listEntity.ArrayUnit;
        SelectedUnitsService.FileIndex = listEntity.Index;
        NavigationService.NavigateFromTo("/list", "/play");
    }

    public void AddNewList()
    {
        var indexMax = Lists.LastOrDefault()?.Index ?? 0;
        var listEntity = new ListEntity()
            {
                ArrayUnit = new Unit[6],
                Index = indexMax + 1
            };
        SelectedUnitsService.UnitSelectionArray = listEntity.ArrayUnit;
        SelectedUnitsService.FileIndex = listEntity.Index;
        NavigationService.NavigateFromTo("/list", "/build");
    }

    public void OpenCloseDetail(int index)
    {
        if (OpenedList == index)
            OpenedList = -1;
        else
            OpenedList = index;
    }

    public string GetListDetailClass(int index)
    {
        return index != OpenedList ? "list-detail" : "list-detail-selected";
    }
}