/* Selected units */
.selected-pp {
    display: flex;
    flex-wrap: wrap;
}

    .selected-pp a {
        flex: 1;
    }

        .selected-pp a img {
            height: 35px;
            width: 35px;
        }


.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.footer {
    position: fixed;
    bottom: 0;
    width: -webkit-fill-available;
    height: 70px;
    background-color: #f0f0f0; /* Set your desired background color */
    align-content: center;
}

.scrollable {
    position: relative;
    height: calc(100vh - 70px - 3.5rem); /* 100% - navbar - footer */
    overflow-y: auto;
}

/* Card Title*/
.dynamic-card {
    border: 2px solid black;
    border-radius: 20px;
    margin: 5px;
    position: relative;
}

.dynamic-card-title {
    border-radius: 17px 17px 0px 0px;
    background-image: url(../img/card/title-back-red.png);
    padding: 5px;
    display: grid;
    text-align: center;
}
    /* cible of 1st cell */
    .dynamic-card-title tr td:first-child {
        width: 80px;
    }

    .dynamic-card-title img {
        height: 45px;
        width: 45px;
    }

    .dynamic-card-title div {
        font-weight: 700;
        color: white;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-color: black;
        text-align: center;
        padding: 5px;
        border-radius: 10px;
    }

/* Card */
.dynamic-card-content {
    margin: 5px;
}

    .dynamic-card-content table td {
        vertical-align: top;
    }

        .dynamic-card-content table td > img {
            height: 35px;
            width: 35px;
        }

        .dynamic-card-content table td h4 {
            font-size: 15px;
            font-weight: 700;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            padding: 0px;
            margin: 0px;
        }

.ability-title * {
    display: inline-block;
    vertical-align: top;
}

.dynamic-card-content table td .force-logo {
    width: 15px;
    height: 15px;
    margin-left: 3px;
}

/* Card text */
.ability-content p {
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
    line-height: 1;
    margin-bottom: 8px;
    vertical-align: top;
}

.image-container {
    position: relative;
    width: 35px;
    height: 35px;
}

    .image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .image-container .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 2px solid black;
    }
