html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/* Card Title*/

.dynamic-card {
    border: 2px solid red;
    border-radius: 25px;
    margin: 5px;
}

.dynamic-card-title table td img {
    height: 45px;
    width: 45px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dynamic-card-title table td h4 {
    font-size: 15px;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
}

/* Card */
.dynamic-card-content table td img {
    height: 35px;
    width: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dynamic-card-content table td h4 {
    font-size: 15px;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
}

.dynamic-card-content table td p {
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
    line-height: 0.9;
}
