html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/* Card Title*/
.dynamic-card {
    border: 2px solid black;
    border-radius: 20px;
    margin: 5px;
}

.dynamic-card-title {
    border-radius: 17px 17px 0px 0px;
    background-image: url(../img/card/title-back-red.png);
}

    .dynamic-card-title * {
        display: inline;
    }

    .dynamic-card-title img {
        z-index: 2;
        height: 45px;
        width: 45px;
        margin: 5px;
    }

    .dynamic-card-title div {
        z-index: 1;
        height: 45px;
        font-size: 15px;
        font-weight: 700;
        color: white;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-color: black;
        width: 100%;
        margin: 0px;
    }

/* Card */
.dynamic-card-content {
    margin: 5px;
}

    .dynamic-card-content table td img {
        height: 35px;
        width: 35px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .dynamic-card-content table td h4 {
        font-size: 15px;
        font-weight: 700;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding: 0px;
        margin: 0px;
    }

.ability-title * {
    display: inline-block;
}

.dynamic-card-content table td p {
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
    line-height: 1;
}
