
/* Card Title*/
.dynamic-card {
    border: 2px solid black;
    border-radius: 20px;
    margin: 5px;
    position: relative;
    background-color:aliceblue;
}

.dynamic-card-title {
    border-radius: 17px 17px 0px 0px;
    padding: 5px;
    display: grid;
    text-align: center;
}
    /* cible of 1st cell */
    .dynamic-card-title tr td:first-child {
        width: 80px;
    }

    .dynamic-card-title div {
        font-weight: 700;
        color: white;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-color: black;
        text-align: center;
        padding: 5px;
        border-radius: 10px;
    }

    .dynamic-card-title .sabre-active-logo {
        border-radius: 50%;
        width: 45px;
        height: auto;
        border: 2px solid black;
    }

/* Card */
.dynamic-card-content {
    margin: 5px;
}

    .dynamic-card-content .specific-ability-weilder {
        padding-bottom: 5px;
    }

    .dynamic-card-content table td {
        vertical-align: top;
        padding: 3px;
    }

        .dynamic-card-content table td .ability-type {
            height: 35px;
            width: 35px;
        }

.ability-title * {
    display: inline-block;
    vertical-align: top;
}

.ability-title h4 {
    font-size: 15px;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
}

.ability-title .force-logo {
    width: 15px;
    height: 15px;
    margin-left: 3px;
}

/* Card text */
.ability-content p {
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
    line-height: 1;
    margin-bottom: 8px;
    vertical-align: top;
}
