
/* Card Title*/
.dynamic-card {
    border: 2px solid black;
    border-radius: 20px;
    margin: 5px;
    position: relative;
    background-color: aliceblue;
}

.dynamic-card-title {
    border-radius: 17px 17px 0px 0px;
    padding: 5px;
    text-align: center;
}

.flex-row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-5 {
    flex: 3;
}

.flex-1 {
    flex: 1;
}

.dynamic-card-title .card-title {
    font-weight: 700;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 0
}

.dynamic-card-title .sabre-active-logo {
    border-radius: 50%;
    width: 45px;
    height: auto;
    border: 2px solid black;
}

/* Card */
.dynamic-card-content {
    margin: 5px;
}

    .dynamic-card-content .specific-ability-weilder {
        padding-bottom: 5px;
    }

    .dynamic-card-content table td {
        vertical-align: top;
        padding: 3px;
    }

        .dynamic-card-content table td .ability-type {
            height: 35px;
            width: 35px;
            margin-bottom: 5px;
        }

.ability-title * {
    display: inline-block;
    vertical-align: top;
}

.ability-title h4 {
    font-size: 15px;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
}

.ability-title .force-logo {
    width: 15px;
    height: 15px;
    margin-left: 3px;
}

/* Card text */
.ability-content p {
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
    line-height: 1;
    margin-bottom: 8px;
    vertical-align: top;
}

.fade-in {
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.tooltip-container {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.tooltip-content {
    padding: 10px;
    visibility: hidden;
    text-align: center;
    border-radius: 6px;
    background-color: white;
    position: absolute;
    z-index: 1;
    box-shadow: 5px 5px 15px 5px black;
}

.tooltip-text {
    font-weight: 700;
    color: black;
    padding-bottom: 5px;
}

.tooltip-container:active .tooltip-content {
    visibility: visible;
}
