@using Shatterpoint.Lib.Units;

<div class="component">
    <div class="image-cropper" style="--scale:@Scale;">
        <img class="image" style="--scale:@Scale; --offset-left:@Left; --offset-top:@Top" src="@Src" alt="@Alt" loading="lazy" />
    </div>
</div>


@code {

    [Parameter]
    public string Top { get; set; }
    [Parameter]
    public string Left { get; set; }
    [Parameter]
    public string Src { get; set; }
    [Parameter]
    public string Alt { get; set; }
    [Parameter]
    public string Scale { get; set; }

}
