.component {
    display: flex; /* the component is a flex box*/
    justify-content: center;
}

.image-cropper {
    width: calc(100px * var(--scale) );
    height: calc(100px * var(--scale) );
    position: relative;
    outline: 2px solid Black;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
}

.halo {
    box-shadow: 0 0 10px 8px #6890d2;
}

.image {
    position: absolute;
    left: calc(var(--offset-left) * var(--scale));
    top: calc(var(--offset-top) * var(--scale));
    display: block;
    margin: 0 auto;
    height: auto;
    width: calc(1100px * var(--scale));
}

/*

BASE

.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    border: 4px solid black;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
}

.image {
    position: absolute;
    left: -330px;
    top: -54px;
    display: block;
    margin: 0 auto;
    height: auto;
    width: 500px;
}*/
