.component {
    display: flex;
    justify-content: center;
}

.dashed-circle {
    width: calc(100px * var(--scale) );
    height: calc(100px * var(--scale) );
    position: relative;
    outline: 2px dashed black;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    display: grid;
    align-items: center;
}

.halo {
    box-shadow: 0 0 10px 8px #6890d2;
}

.pc-color {
    color: #7bff71;
}

.sp-color {
    color: #ff6cb8;
}
