@using Shatterpoint.Lib.Units


<div class="component">
    <div class="@GetHalo()" style="--scale:@Scale;" />
</div>

@code {

    [Parameter]
    public bool IsSelected { get; set; }

    [Parameter]
    public string Scale { get; set; }


    private string GetHalo()
    {
        if (IsSelected)
            return "dashed-circle halo";
        return "dashed-circle";
    }
}
