@using Shatterpoint.Lib.Units


<div class="component">
    <div class="dashed-circle @GetHalo() @GetColor()" style="--scale:@Scale;">
        @if (AvailablePoint > 0)
        {
            @AvailablePoint
        }
    </div>
</div>

@code {

    [Parameter]
    public bool IsSelected { get; set; }

    [Parameter]
    public string Scale { get; set; }

    [Parameter]
    public int AvailablePoint { get; set; }

    [Parameter]
    public UnitType UnitType { get; set; }

    private string GetColor()
    {
        switch (UnitType)
        {
            case UnitType.Primary:
                return "sp-color";
            case UnitType.Secondary:
            case UnitType.Support:
            default:
                return "pc-color";
        }
    }

    private string GetHalo()
    {
        if (IsSelected)
            return "halo";
        return "";
    }
}
