@using Shatterpoint.Lib.Units

<div class="component">
    <div class="filter">
        <ul>
            <li>
                <div class="filter-item">
                    <label>
                        Name
                        <input class="filter-item-input-text" type="text" placeholder="Unit name" />
                    </label>
                </div>
            </li>
            <li>
                <div class="filter-item">
                    <label>
                        Primary
                        <input class="filter-item-input-cb" type="checkbox" />
                    </label>
                    <label>
                        Secondary
                        <input class="filter-item-input-cb" type="checkbox" />
                    </label>
                    <label>
                        Support
                        <input class="filter-item-input-cb" type="checkbox" />
                    </label>
                </div>
            </li>
            <li>
                <div class="filter-item">
                    <label>
                        Keywords
                        <input class="filter-item-input-text" type="text" placeholder="keyword" />
                    </label>
                </div>
            </li>
        </ul>
    </div>
</div>


@code {

}
