.component {
    padding: 5px 5px 0px 5px;
}

.filter {
    display: flex;
}

    .filter ul {
        flex: 1;
        list-style: none; /* Hide dot*/
        padding: 0;
        margin: 0;
    }

        .filter ul li {
            padding: 5px
        }

.filter-item-input-text {
    flex: 1;
    margin-right: 5px;
    border-radius: 5px;
    height: 2rem;
    background-color: black;
    color: wheat;
}

.checkbox-container {
    display: flex;
    flex-direction: row; /* All checked box in 1 row */
}

.checkbox-style {
    flex: auto; /* Checkboxes to share equally available space */
    border: 1px dashed black;
    border-radius: 10px;
    padding: 5px;
    margin-left: 5px;
    display: flex;
    justify-content: center; /* display checked box text in the middle of its container */
    font-weight: 700;
    color: wheat;
}

.checkbox-style-checked {
    flex: auto;
    border: 1px dashed black;
    border-radius: 10px;
    padding: 5px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    background-color: orange;
    font-weight: 700;
}

    .checkbox-style:first-child, .checkbox-style-checked:first-child {
        margin-left: 0px;
    }

.filter-item-input-cb {
    display: none;
}

.input-text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Button style */
.button-style {
    background-color: orange; /* Couleur de fond */
    color: #ffffff; /* Couleur du texte */
    border: 1px solid black;
    cursor: pointer; /* Curseur de type main */
    border-radius: 10px; /* Coins arrondis */
}
    /* Style au survol */
    .button-style:hover {
        background-color: orangered; /* Couleur de fond au survol */
    }


.input-name-clear-button {
    width: 30px;
    height: 30px;
}

.button-collapsed, .button-expanded {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 30px;
    height: auto;
}

.button-collapsed {
    background-image: url('../img/icons/expand.png');
    background-repeat: no-repeat;
    background-position: center;
}

.button-expanded {
    background-image: url('../img/icons/collapse.png');
    background-repeat: no-repeat;
    background-position: center;
}
