<div class="flex">
    <a class="flex-auto flex" href="" Match="NavLinkMatch.All">
        <img src="" />
        <div>Units</div>
    </a>
    <a class="flex-auto flex" href="play">
        <img src="" />
        <div>Cards</div>
    </a>
</div>
