<div class="flex">
    <a class="flex-auto flex" href="/build" Match="NavLinkMatch.All">
        <img class="units-icon" src="/img/icons/list.png" alt="Menu list"/>
    </a>
    <a class="flex-auto flex" href="/play">
        <img class="units-icon" src="/img/icons/cards.png" alt="Menu cards"/>
    </a>
    <a class="flex-auto flex" href="/sandbox">
        <div class="units-icon">sandbox</div>
    </a>
</div>
