.component {
    padding-top: 1px;
}

.main-color {
    background-color: #121212;
}

.tab-selected {
    background-color: #252530;
    border-top: 1px solid lightslategrey;
    border-right: 1px solid lightslategrey;
    border-left: 1px solid lightslategrey;
    border-radius: 20px 20px 0px 0px;
    padding: 5px;
}

    .tab-selected > img {
        height: 41px;
        width: auto;
        animation: sizeUp 1s;
    }

.tab-not-selected {
    border-bottom: 1px solid lightslategrey;
    padding: 5px;
}

    .tab-not-selected > img {
        height: 35px;
        width: auto;
    }

.flex {
    display: flex;
    justify-content: center;
}

.flex-auto {
    flex: auto;
}

.img-container {
    height: 50px;
}


div.page-title {
    display: none;
}

div.page-title-selected {
    display: block;
    color: wheat;
    font-weight: 700;
    padding: 5px;
    background-color: #252530;
    border-bottom: 1px dashed lightslategrey;
}

.back-band {
    color: wheat;
    background-color: #252530;
    border-bottom: 1px dotted lightslategrey;
    position: relative;
    z-index: 10;
}

    .back-band > * {
        margin: 5px 5px 5px 5px;
        display: inline;
        font-weight: 700;
    }

    .back-band > img {
        width: 50px;
    }

@keyframes sizeUp {
    0% {
        height: 35px;
    }

    100% {
        height: 41px;
    }
}
