@page
@model BuildModel
@{
    ViewData["Title"] = "Build for play";
}

<div class="text-center">
    <h1 class="display-4">Unit List</h1>
    <table>
        <th>
            <td>Name</td>
            <td>Add</td>
        </th>
        @foreach(var unit in Model.UnitList)
        {
            <tr>
                <td>@unit.Name</td>
                <td><a>clik to add</a></td>
            </tr>
        }
    </table>
</div>

