@page
@model PrivacyModel
@{
    ViewData["Title"] = "Play";
}
<h1>@ViewData["Title"]</h1>
<p>This page contains the 6 selected units</p>
<p>Click on each unit to reveal all the possibles action</p>

